<div class="row">
{{# each products}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ this.imagePath }}" alt="...">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description">
           {{ this.description }}
        </p>
        <div class="clearfix">
            <div class="price">${{ this.price }}</div>
            <a href="#" class="btn btn-success pull-right" role="button">Agregar</a>
        </div>
        
      </div>
    </div>
  </div>
{{/each}}
</div>
{{!-- 
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://argentina.gridohelado.com/wp-content/uploads/2016/06/cucurucho-maxigrido.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil laudantium voluptates blanditiis ea officiis sint. Quidem, nemo laudantium earum eum recusandae voluptates adipisci ut accusantium cum fugiat consectetur temporibus?
        </p>
        <div class="clearfix">
            <div class="price">$20</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
        
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://argentina.gridohelado.com/wp-content/uploads/2016/06/cucurucho-maxigrido.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil laudantium voluptates blanditiis ea officiis sint. Quidem, nemo laudantium earum eum recusandae voluptates adipisci ut accusantium cum fugiat consectetur temporibus?
        </p>
        <div class="clearfix">
            <div class="price">$20</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
        
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://argentina.gridohelado.com/wp-content/uploads/2016/06/cucurucho-maxigrido.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil laudantium voluptates blanditiis ea officiis sint. Quidem, nemo laudantium earum eum recusandae voluptates adipisci ut accusantium cum fugiat consectetur temporibus?
        </p>
        <div class="clearfix">
            <div class="price">$20</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
        
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://argentina.gridohelado.com/wp-content/uploads/2016/06/cucurucho-maxigrido.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil laudantium voluptates blanditiis ea officiis sint. Quidem, nemo laudantium earum eum recusandae voluptates adipisci ut accusantium cum fugiat consectetur temporibus?
        </p>
        <div class="clearfix">
            <div class="price">$20</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
        
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://argentina.gridohelado.com/wp-content/uploads/2016/06/cucurucho-maxigrido.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil laudantium voluptates blanditiis ea officiis sint. Quidem, nemo laudantium earum eum recusandae voluptates adipisci ut accusantium cum fugiat consectetur temporibus?
        </p>
        <div class="clearfix">
            <div class="price">$20</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
        
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://argentina.gridohelado.com/wp-content/uploads/2016/06/cucurucho-maxigrido.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil laudantium voluptates blanditiis ea officiis sint. Quidem, nemo laudantium earum eum recusandae voluptates adipisci ut accusantium cum fugiat consectetur temporibus?
        </p>
        <div class="clearfix">
            <div class="price">$20</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
        
      </div>
    </div>
  </div>

  
</div>
 --}}
